*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:azure ;
}
.hero{
    position: relative;
    width: 100%;
    border-color: #eff4fd;}

nav{
    display:flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;;
    align-items:center;
    justify-content: space-between;
}
 .hero ul, li ,.ji{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    cursor: pointer;
}
.hero ul, li, .ji{
 text-decoration: none;
 color: black;
 font-weight: bold;
}
.hero ul, li:hover{
    color: blue;
}
.details{
    margin-left: 8%;
    margin-top: 15%;
  

}
span{ 
    color:blue;
}
#he{
    font-size: 40px;
    text-align: justify;
}


.details a
{
  background-color: rgb(18, 18, 77);
  color:#eff4fd;
  margin: 30px 0; 
  padding: 5px;
border-radius:5px ;
text-decoration: none;
font-weight: bold;

}
a:hover{
    color:red;
}


.marg{
    display: flex;
}
#copy{
    margin:50%;
    text-decoration: none;
    background-color: rgb(23, 14, 71);
    color:#eff4fd;
    padding: 10px;
}
#copy:hover{
    color:chocolate;
}

h1{
    text-align: center;
}
h3{
    margin-left: 40px;
 text-decoration-line: underline;
}
#p1, #p2,#p3{
    margin-left: 40px;
}
.emnei{ 
    display: flex;
}
.keno{
    margin: 70px;
    padding:15px;
    border:50%;
    border-color: burlywood;
background-color: rgb(209, 183, 34);
}
.keno:hover{
    color:rgb(255, 255, 255)
}